@import "tailwindcss";

@theme {
  --color-accent-1: #333;
}

/* Write your own custom component styles here */


html,
body {
  height: 100vh;
  min-height: 100vh;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  display: block;
}
